# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env


# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Testing / Coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Docker (optional)
# =========================
*.pid
*.seed
*.pid.lock